{{#if skillTrend.salaryMin != 'NaN' && skillTrend.salaryMax != 'NaN'}}
<div class="techlooper-widget">
  <div class="skill-trends">
    <div class="tech-header">
      <div class="col-sm-11">
        <h2>{{translation.thereAre}} <strong>{{skillTrend.totalJob}}</strong> {{#if config.lang == 'en'}}<span>{{config.jobTitle}}</span>{{/if}} {{translation.jobsPayingBetween}} <strong>${{skillTrend.salaryMin}}</strong> {{translation.and}} <strong>${{skillTrend.salaryMax}}</strong> {{#if config.lang == 'vi'}}{{translation.for}} <span>{{config.jobTitle}}</span>{{/if}}</h2>
      </div>
      <div class="col-sm-01">
        <a href="http://techlooper.com/#/home?utm_source=salarywidget&utm_medium=techlooperlogo&utm_campaign={{campaign}}" class="techlooper-logo" title="Click here go to the TechLooper" target="_blank">TechLooper.com</a>
      </div>
    </div>
    <div class="row skill-listing">
      <div class="col-sm-12">
        <ul>
          {{#each skillTrend.topDemandedSkills: i}}
          <li>
            <span class="number-jobs">{{count}}</span><span class="skill-name">{{skillName}}</span>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="valuable-report">
      <p>{{translation.valuableReport}}</p>
      <form name="valuableReportForm" class="valuable-report-form">
        <ul>
          <li>
            <label on-click="answer('always')">
              <input type="radio" name="valuableReport"/>
              {{translation.always}}
            </label>
          </li>
          <li>
            <label on-click="answer('sometimes')">
              <input type="radio" name="valuableReport"/>
              {{translation.sometimes}}
            </label>
          </li>
          <li>
            <label on-click="answer('never')">
              <input type="radio" name="valuableReport"/>
              {{translation.never}}
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
{{/if}}