{{#if skillTrend.salaryMin != 'NaN' && skillTrend.salaryMax != 'NaN'}}
<div class="techlooper-widget">
  <div class="skill-trends">
    <div class="tech-header">
      <div class="col-sm-11">
        <h2>{{translation.thereAre}} <strong>{{skillTrend.totalJob}}</strong> {{#if config.lang == 'en'}}<span>{{skillTrend.jobTitle}}</span>{{/if}} {{translation.jobsPayingBetween}} <strong>${{salaryMin}}</strong> {{translation.and}} <strong>${{salaryMax}}</strong> {{#if config.lang == 'vi'}}{{translation.for}} <span>{{config.jobTitle}}</span>{{/if}}</h2>
      </div>
      <div class="col-sm-01">
        <a href="http://techlooper.com/#/home?utm_source=skilltrendswidget&utm_medium=techlooperlogo&utm_campaign={{campaign}}" class="techlooper-logo" title="Click here go to the TechLooper" target="_blank">TechLooper.com</a>
      </div>
    </div>
    <div class="highest-demand">
      <p>{{translation.highestDemand}}</p>
    </div>
    <div class="row skill-listing">
      <div class="col-sm-12">
        <ul>
          {{#each skillTrend.topDemandedSkills: i}}
          <li>
            <span class="number-jobs">{{count}}</span><span class="skill-name">{{skillName}}</span>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="base-on-date">
    <p>{{translation.baseOnDate}}</p>
    </div>
    <div class="valuable-report">
      <p>{{translation.valuableReport}}</p>
      <form name="valuableReportForm" class="valuable-report-form">
        <ul>
          <li>
            <input type="radio" name="valuableReport" on-click="answer('always')"/>
            <label on-click="answer('always')">{{translation.always}}</label>
          </li>
          <li>
            <input type="radio" name="valuableReport" on-click="answer('sometimes')"/>
            <label on-click="answer('sometimes')">{{translation.sometimes}}</label>
          </li>
          <li>
            <input type="radio" name="valuableReport" on-click="answer('never')"/>
            <label on-click="answer('never')"> {{translation.never}}</label>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
{{/if}}