<div class="techlooper-widget">
    <div class="box box-lg salary-review">
        <div class="row">
            <div class="col-sm-10">
                <h2>This job is better paid than <span>20%</span> of jobs like this.</h2>
            </div>
            <div class="col-sm-02">
                <a href="#" target="_blank" class="techlooper-logo" title="Click here go to the TechLooper">TechLooper.com</a>
            </div>
        </div>
        <div class="row salary-chart">
            <div class="col-sm-12">
                <ul class="salary-list">
                    <li>$0</li>
                    <li>$500</li>
                    <li>$900</li>
                    <li>$1,300</li>
                    <li>$1,800</li>
                    <li>$2,600</li>
                </ul>
                <ul class="phase-list">
                    <li><div class="phase-item zero-percent"></div></li>
                    <li><div class="phase-item ten-percent"></div></li>
                    <li><div class="phase-item twenty-five-percent"></div></li>
                    <li><div class="phase-item fifty-percent"></div></li>
                    <li><div class="phase-item seventy-five-percent"></div></li>
                    <li>
                        <div class="phase-item ninety-percent"></div>
                    </li>
                </ul>
                <ul class="percent-list">
                    <li>0%</li>
                    <li>10%</li>
                    <li>25%</li>
                    <li>50%</li>
                    <li>75%</li>
                    <li>90%</li>
                </ul>
            </div>
            <div class="current-position">
                <div class="current-salary">
                    <div class="salary">This job: $12,000</div>
                    <div class="arrow">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div class="position">
                    <div class="dot">
                        <i class="fa fa-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>